

<html lang='en'>
<head>
  <title> Index </title>
  <style>
  .boxed {
    border: 1px solid black;
  }
  </style>
</head>
<body class="container">
  <header> <% include partials/_header %> </header>
  <div class="jumbotron jumbotron-fluid">

    <ul>
      <% for(item in urls){ %>
      <li>
        <form method="POST" action="/urls/<%= item %>?_method=DELETE">
          <input type="submit" value="delete" style="float: right">
        </form>
          <a href="http://localhost:8080/u/<%= item %>"><%= item %></a>
          =>
          <a href="<%= urls[item].url %>"><%= urls[item].url %></a>
          <button onclick="window.location.href='/urls/<%= item %>'" style="float:right">Edit</button>
      </li>
      <% } %>
      </ul>
  </div>
<a href="http://localhost:8080/urls/new">Make a new URL!</a>
</div>
</body>
</html>

