<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <%- include('partials/_header') %>

<h1><a href="/urls/new"><button>New short URL</button></a></h1>
      <ul>
          <% for (item in urls) { %>
        <li><%= item %> - <%= urls[item].url %></li>
        <form method="POST" action="/urls/<%= item%>/delete">
        <p>
        <button>Delete url</button>
        </p>
        </form>
        <a href="/urls/<%=item %>"><button>edit url</button></a>
    <% } %>


      </ul>

</body>
</html>

